.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.download-btn 
{
    display: inline-block;
    padding: 5px 25px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 13px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
    margin-top:10px;
}

.download-btn:hover 
{
    background-color: #47b2e4;
    color: #ffffff;
    border: 1px solid #47b2e4;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  font-size: 16px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
